div {
  font-family: monospace;
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  white-space: pre;
  text-align: center;
  font-weight: bold;
  line-height: 90%;
  padding: 10px;
  padding-right: 4px;
  padding-bottom: 4px;
}
